body {
  background-color: grey;
}
#search {
  margin-bottom: 24px;
  background-color: grey;
}
#searchButton {
  margin-bottom: 24px;
}
#name {
  font-size: 18pt;
  margin: 8px;
  padding: 16px;
  color: white;
}
#name:hover {
  background-color: darkgrey;
}
#longName {
  font-size: 18pt;
  padding: 0;
  padding-left: 18px;
  color: white;
}
#longDescription {
  font-size: 12pt;
  padding: 0;
  padding-left: 18px;
  padding-bottom: 18px;
  color: white;
}
#description {
  font-size: 12pt;
  padding: 0;
  padding-left: 18px;
  color: white;
}
#tab {
  margin: 8px;
  padding: 16px;
  color: white;
}
#tab:hover {
  background-color: darkgrey;
}
#file {
  margin: 16px;
  padding: 16px;
  color: white;
}
#file:hover {
  background-color: darkgrey;
}
#files {
  margin: 18px;
}
