#name {
  font-size: 18pt;
  padding: 0;
}
#longName {
  font-size: 18pt;
  padding: 0;
}
#longDescription {
  font-size: 12pt;
  padding: 0;
}
#description {
  font-size: 12pt;
  padding: 0;
}
#tab {
  margin: 4px;
  padding: 16px;
}
#tab:hover {
  background-color: grey;
}
